@model web.Models.Comments

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Comments</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CommentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
