@model IEnumerable<web.Models.Comments>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    var m = Model.ElementAt(1).PostID;
    if(item.PostID > 0){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CommentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CommentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CommentID">Delete</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>
