@model IEnumerable<web.Models.Message>

@{
    ViewData["Title"] = "Index";
}

<!--h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table-->
<table class="message_menu_body">

    <!--div class = "navigation_bar">

    </div-->

    <div class = "message_menu">
        <div class="sidemenu">
            <a href= "#" class = "room-button"> First Room </a>
            <a href= "#" class = "room-button"><strong>+</strong> </a>
        </div>
        <div class="chat">
            <div class="chat-body">
                <div class="message">
                    <header>Test1</header>
                    <p> This is a test message</p>
                    <footer>15:42</footeer>
                </div>

                <div class="message">
                    <header>Test2</header>
                    <p> This is a test message number 2</p>
                    <footer>15:45</footeer>
                </div>
            </div>
            <div class="chat-input">
                <form class ="send_message">
                    <input type="text" />
                    <button>Sendy</button>
                </form>
                

            </div>
        </div>
    </div>

</table>

<script src ="~/js/site.js"></script>
