@model IEnumerable<web.Models.Posts>


<table class="posts_table">

    @foreach (var item in Model) {
        <tr>
            <!--<td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostTime)
            </td>-->
            <td>
                <div class='componentWrapper'>
                    <div class="header"> 
                        @Html.DisplayFor(modelItem => item.PostTime) 
                    </div>
                        <div class="post_content_inside">
                            @Html.DisplayFor(modelItem => item.Content)
                        </div>
                    </div>
            </td>

            <!--td>
                <a asp-action="Edit" asp-route-id="@item.PostID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PostID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PostID">Delete</a>
            </td-->
            
        </tr>
}
</table>
